<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TV series to watch</title>
    <link rel="stylesheet" href="css/styles.css">
    
</head>
<body>

    <div class="header"> 
        
<a href="./main.page.html" class="logo"> ANNA'S TV SERIES  </a> 
       <div class="header-right">  
<a  class="active" href="main.page.html">Home</a>
<a href="articles.html">Articles</a>
<a href="chat.html">Chat</a>
<a href="register.html">Register</a>
<a href="aboutus.html">About us</a>
 </div>
 </div>
        
 <div class="slideshow-container">

            <div class="mySlides fade">
    <img src="images/peaky.jpg" style="width:100%">
           </div>
            
            <div class="mySlides fade">
              <img src="images/hoc.jpg" style="width:100%">
            </div>
            
            <div class="mySlides fade">
              <img src="images/stranger.jpg" style="width:100%">
            </div>
            
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
            
            </div>
            <br>
            
            <div style="text-align:center">
              <span class="dot" onclick="currentSlide(1)"></span> 
              <span class="dot" onclick="currentSlide(2)"></span> 
              <span class="dot" onclick="currentSlide(3)"></span> 
            </div>
            
    <script src="js/main.js"></script>
</body>
</html>
