<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TV series to watch</title>
    <link rel="stylesheet" href="css/styles.css">
    
</head>
<body>

    <div class="header"> 
        
<a href="./main.page.html" class="logo"> ANNA'S TV SERIES  </a> 
       <div class="header-right">  
<a  class="active" href="main.page.html">Home</a>
<a href="articles.html">Articles</a>
<a href="chat.html">Chat</a>
<a href="register.html">Register</a>
<a href="aboutus.html">About us</a>
 </div>
 </div>
 <!--lielais bilžu karuselis-->
   <div class="container">   
 <div class="slideshow-container">

            <div class="mySlides fade">
    <img src="images/peaky.jpg" style="width:100%">
           </div>
            
            <div class="mySlides fade">
              <img src="images/hoc.jpg" style="width:100%">
            </div>
            
            <div class="mySlides fade">
              <img src="images/stranger.jpg" style="width:100%">
            </div>
            
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
            
            </div>
            <br>
            
            <div style="text-align:center">
              <span class="dot" onclick="currentSlide(1)"></span> 
              <span class="dot" onclick="currentSlide(2)"></span> 
              <span class="dot" onclick="currentSlide(3)"></span> 
            </div></div>  
<!--3 apaksejas kastes-->

<h4 class="text-in-middle">3 most recent articles</h4>


<div class="article-container">
   
  <div class="block" >
    <img class="art-img"src="images/peaky.jpg"> <div>
    <a  class="article-link" href="article1.html">Article 1</a></div>
    <p class="img-text">
    
      A gangster family epic set in 1900s England, centering on a gang who sew razor blades in the peaks of their caps, and their fierce boss Tommy Shelby. </p> </div>
  <div class="block">
    <img class="art-img"src="images/hoc.jpg"> <div>
    <a  class="article-link" href="article1.html">Article 2</a></div>
    <p class="img-text">
      A Congressman works with his equally conniving wife to exact revenge on the people who betrayed him.
    </p></div>
  <div class="block">
    <img class="art-img"src="images/stranger.jpg"> <div>
    <a  class="article-link" href="article1.html">Article 3</a></div>
    <p class="img-text">
      When a young boy disappears, his mother, a police chief and his friends must confront terrifying supernatural forces in order to get him back. </p>
</div>
</div>
<hr>
<div>
  <footer class="main-footer"> &#169; some footer information
  </footer>
</div>
    <script src="js/main.js"></script>
</body>
</html>
